* {
    margin: 0;
    box-sizing: border-box;
}
main {
    font-family: Montserrat, ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    box-sizing: border-box;
           }
/*<!-------------------block - We are creative---------------------------->*/
.top-block {
    text-align: center;
    background-image: url("../img/Sections background/section-1(header).jpg");
    padding-bottom: 140px;
    background-attachment: fixed;
}
.top-navigation {
    border: red;
    height: 120px;
    background-color: rgba(96, 95, 90, 0.6);
    margin-bottom: 246px;
}
.nav {
    display: flex;
    width: 1160px;
    height: 100%;
    margin: 0 auto;
 }

.logo {
    padding-top: 28px;
    height: 100%;
    display: inline-block;
    width: max-content;
    margin-right: 290px;


}
.icon_logo {
    display: inline-block;
    width: 58px;
    height: 67px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}
.the_H{
    padding-top: 11px;
    padding-left: 2px;
    display: block;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.text-logo {
    transform: translateY(-50%);
    font-size: 16px;
    display: inline-block;
    color: white;
}
.text-logo span{
    font-weight: bold;
}
.top-menu {
    padding-top: 56px;
    display: inline-block;
    height: 100%;
    font-size: 13px;
    color: #a8a7a6;
    font-weight: bold;
}
.top-menu-item {
    height: 100%;
    display: flex;
    list-style: none;
}

.top-menu-item li {
    display: block;
    margin-right: 20px;
}


.link_top_menu {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #b8b8b8;

}
.link_top_menu:hover {
    color: #18cfab;
    border-bottom: 3px solid #18cfab;
}

.top-content {
    color: white;
    text-transform: uppercase;
 }

.turquoise_color {
    color: #18cfab;
}


.top-content p:first-child {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 45px;
}
.top-content p:nth-child(2) {
    font-size: 69px;
    font-weight: bold;
    margin-bottom: 37px;
}

.top-content p:nth-child(3) {
    font-size: 29px;
    font-weight: 300;
    color: rgba(212, 212, 212, 0.6);
    margin-bottom: 142px;
}
.button {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 166px;
    height: 61px;
    color: white;
    border-radius: 5px;
    box-shadow: inset -1px 9px 0 -5px rgba(250,245,250,1);
    margin-right: 28px;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 25px;
 }

.button.green {
    background-color: #18cfab;
}
.button.blue {
    background-color: #00cbf6;
    }

/*<!-----------------------block -four blocks--------------------------->*/
.color_block {
    justify-content: space-around;
    height: 374px;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
.block_black {
    border-top: 4px solid  #18cfab;
    width: 25vw;
    background-color: #1c2a33;
    color: #18cfab;
}
.color_block span {
    margin: 105px auto 48px auto;

    display: block;
background-repeat: no-repeat;
    width: 100px;
    height: 97px;
}

.block_green {
    border-top: 4px solid  white;
    width: 25vw;
    background-color: #18cfab;
    color: white;
}
.block_icon1 {
     background-image: url("../img/finger.png");
    }
.block_icon2 {
    background-image: url("../img/brilliant.png");
}
.block_icon3 {
    background-image: url("../img/lamp.png");
}
.block_icon4 {
    background-image: url("../img/network.png");
}

/*<!---------------------block - Our Services------------------------------------------->*/
.block_OurServ {
    max-width: 1160px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 101px;
}
.header_of_Blocks{
    position: relative;
    padding-top: 82px;
    padding-bottom: 37px;
    text-align: center;
    font-weight: lighter;
    color: #4e4e4e;
    font-size: 36px;
}

.header_of_Blocks::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 47%;
    width: 76px;
    height: 2px;
    background-color: #18cfab;
    box-shadow: 13px 4px 0 0  #18cfab;
}

.content_OurServ {
    margin-top: 74px;
}

.menu_OurServ {
    width: 100%;
    height: 73px;
    margin: 0 auto;
    }
.menu_OurServ_item {
    padding: 0;
    display: flex;
    height: 100%;
    font-size: 16px;
    color: #b9bbbc;

}
.menu_OurServ_item li {
    width: 16.666%;
    border: 1px solid #eeeeef;
    display: block;
    height: 100%;
    background-color: #f8fcfe;
    position: relative;
}
.link_ourServ_menu {
    padding-top: 28px;
    display: block;
    height: 100%;
    text-decoration: none;
    color: #b8b8b8;
}
.link_ourServ_menu:hover {
    background-color: #18cfab;
    color: white;
    border-color:#bbf1e6;
}

.link_ourServ_menu:hover::after {
    position: absolute;
    bottom: -12px;
    left: 46%;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #08cfab transparent transparent transparent;
}
.link_ourServ_menu.active {
    background-color: #18cfab;
    color: white;
    border-color:#bbf1e6;
}

.link_ourServ_menu.active::after {
    position: absolute;
    bottom: -12px;
    left: 46%;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #08cfab transparent transparent transparent;
}
.art_OurServ {
    padding-top: 25px;
    display: flex;
   }

.img_OurServ1 {
    width: 16.666%;
}

.img_OurServ1 img {
    width: 100%;
    height: 100%;
}
.text_Ourserv {
    width: 83.33%;
    padding-left: 20px;
    text-align: justify;
    color: #adadad;
}

/*<!--------------------------------block - everything is ready------------------------------->*/
.block_every {
    background:linear-gradient( rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url("../img/Sections background/section-2.jpg") center;
    padding: 128px 0;
    text-align: center;
}
.content_every {
    font-size: 16px;
    color: rgba(216, 216, 216, 0.7);
}
.content_every .turquoise_color {
    margin-bottom: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 39px;
}

.content_every .button  {
    text-transform: uppercase;
    margin-top: 80px;
}
/*-----------------block Our Amazing Work------------------------*/

.block_Amazing {
    position: relative;
    background-color: #f8fcfe;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 70px;

}

.menu_Amazing {
    margin: 70px auto;
    width: 610px;
    height: 58px;

}
.menu_Amazing_item {
    display: flex;
    height: 100%;
    font-size: 14px;
    color: #b9bbbc;
   }

.menu_Amazing_item li {
    display: block;
    height: 100%;
    background-color: #f8fcfe;
}
.link_Amazing_menu {
    border: 1px solid #ebebeb;
    background-color: white;
    padding: 21px 0;
    display: block;
    height: 100%;
    text-decoration: none;
    color: #b8b8b8;

}
.item_Amazing {
    flex-grow: 1;
}

.item_Amazing.grow {
    flex-grow: 2;
}
.link_Amazing_menu:hover {
    color: #18cfab;
    border-top-color: #18cfab;
}
 .link_Amazing_menu.active {
     color: #18cfab;
     border-top-color: #18cfab;
 }

.gallery_Amazing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 208px;
    margin: auto;
    width: 1160px;
    }

.gallery_box {
    position: relative;
     }

.link_gallery_Amazing {
    display: block;
    text-decoration: none;
    color: rgba(138, 138, 138, 0.7);
    font-size: 13px;
 }
.link_gallery_Amazing img {
width: 100%;
height: 100%
}

.box_hover {
border-top: 2px solid #18cfab;
position: absolute;
top: 0;
width: 100%;
height: 102%;
background-color: #f8fcfe;
opacity: 0;
}

.box_hover_icons {
height: 45px;
margin: 35px auto;
text-align: center;

}

.box_hover_icons .elips1, .elips2 {
display: inline-block;
width: 41px;
height: 41px;
background-repeat: no-repeat;
padding-top: 12px;
font-size: 15px;
}
.elips1 {
background-image: url("../img/Ellipse.png");
color: #18cfab;
}
.elips2 {
background-image: url("../img/Ellipse2.png");
color: white;
}

.box_hover .turquoise_color {
text-transform: uppercase;
font-size: 18px;
font-weight: bold;
margin-bottom: 13px;
}

.link_gallery_Amazing:hover *  {
opacity: 1;
}

.button_Amazing {
    display: block;
 margin-top: 71px;
 text-align: center;
  }
.amazing_img {
    width: 100%;
    height: fit-content;
}

/*-------------------------block Breaking News*------------------------------------------------*/
.block_Breaking{
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
}

.gallery_Breaking {
    margin: 70px auto 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px 280px;
    width: 1160px;
    height: 624px;
    column-gap: 28px;
    row-gap: 45px;
}

.link_gallery_Breaking {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:rgba(119, 119, 119, 0.5);
    font-size: 14px;
    font-weight: lighter;

}
.link_gallery_Breaking img {
    width: 100%;
    height: 70%;
}

.title_Breaking {
    background-color: #f8fcfe;
    height: 30%;
    border: 1px solid #ececec;
    padding: 14px;
    }
.span_header {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    margin-bottom: 5px;

}
.span_Breaking::after {
    display: inline-block;
    content: '';
    width: 2px;
    height: 12px;
    background-color: #abacad;
}

.right_top_block {
    padding-top: 15px;
    vertical-align: center;
    text-align: center;
    width: 66px;
    height: 68px;
    background-color: #203e38;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: lighter;
}
.right_top_block p:first-child {
    margin-bottom: 5px;

}
.link_gallery_Breaking:hover .span_header{
    color: #18cfab ;
}

.link_gallery_Breaking:hover .right_top_block {
    background-color: #18cfab;
}
 /*//-------block - What people say about us---------/*/

.block_PeopleSay {
    background: rgba(0, 0, 0, .65) url("../img/Sections background/section-3.jpg") center fixed;
    background-blend-mode: darken;
    color: white;
    text-align: center;
}
.block_PeopleSay .header_of_Blocks {
    color: white;
    font-weight: normal;
}

.content_PeopleSay {
    padding-bottom: 100px;
    width: 1160px;
    margin: 0 auto;
}

.text_aboutUs {
    font-size: 16px;
    color: #a3a7a8;
    text-align: justify-all;
    margin-top: 73px;
}

.text_aboutUs::before {
    margin: 0 auto 43px auto;
    display: block;
    content: "";
    width: 45px;
    height: 45px;
    background-image:  url("../img/What people say/quotes.png");
    background-repeat: no-repeat;
    font-size: 80px;
    }

.under_text_one {
    margin-top: 43px;
    text-transform: uppercase;
    color:#18cfab;
    font-size: 16px;
    font-weight: bold;
}
.under_text_two {
    margin-top: 10px;
    font-size: 12px;
    color:#68757a ;
    font-weight: lighter;
    text-transform: none;
}

.big_circle {
    margin: 27px auto 56px auto;
    width: 164px;
    height: 164px;
    background-color: rgba(9%, 81%, 67%, 0.5);
    border-radius: 50%;
}

.big_circle_photo {
    margin: auto;
    transform: translateY(7%);
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 1px solid #18cfab;
}
.block_photo_people {
    display: inline-block;
}
.photo_PeopleSay {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.slider_PeopleSay {
    width: fit-content;
    margin: 57px auto 100px auto;

}
.small_circle {
    display: inline-block;
    margin-right: 36px;
    width: 68px;
    height: 68px;
    background-color: rgba(9%, 81%, 67%, 0.5);
    border-radius: 50%;
}

.small_circle_photo {
    margin: auto;
    transform: translateY(7%);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid #18cfab;
}

.left_bracket, .right_bracket {
    display: inline-block;
    padding-top: 9px;
    font-size: 10px;
    color: rgba(187, 187, 187, 0.5);
    width: 31px;
    height: 31px;
    border: 1px solid rgba(187, 187, 187, 0.5);
    transform: translateY(-70%) translateX(-50%);
}

.left_bracket:hover, .right_bracket:hover {
    background-color: #18cfab;
    color: white;
}

/*------------------------footer--------------------------------*/
.block_footer {
    background-color: #22353f;
    padding: 47px 0;
    text-align: center;
    font-size: 14px;
    color: rgba(174, 174, 174, 255);
}
/*----------------------------animation----------------*/
.small_circle.animate {
    -webkit-transform: translate(0, -1.3em);
    -moz-transform: translate(0, -1.3em);
    -ms-transform: translate(0, -1.3em);
    transform: translate(0, -1.3em);
    transition-property: transform;
    transition-duration: 1s;
}


