* {
    margin: 0;
    box-sizing: border-box;
}
main {
    font-family: Montserrat, ﻿AdobeInvisFont, ﻿Courier;
    box-sizing: border-box;
           }

.top-block {
    text-align: center;
    background-image: url("../img/Sections background/section-1(header).jpg");
   padding-bottom: 140px;
    background-attachment: fixed;
}
.top-navigation {
    border: red;
    height: 120px;
    background-color: rgba(96, 95, 90, 0.6);
    margin-bottom: 246px;
}
.nav {
    display: flex;
    width: 1160px;
    height: 100%;
    margin: 0 auto;
 }

.logo {
    padding-top: 28px;
    height: 100%;
    display: inline-block;
    width: max-content;
    margin-right: 290px;


}
.icon_logo {
    display: inline-block;
    width: 58px;
    height: 67px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}
.the_H{
    padding-top: 11px;
    padding-left: 2px;
    display: block;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.text-logo {
    transform: translateY(-50%);
    font-size: 16px;
    display: inline-block;
    color: white;
}
.text-logo span{
    font-weight: bold;
}
.top-menu {
    padding-top: 56px;
    display: inline-block;
    height: 100%;
    font-size: 13px;
    color: #a8a7a6;
    font-weight: bold;
}
.top-menu-item {
    height: 100%;
    display: flex;
    list-style: none;
}

.top-menu-item li {
    display: block;
    margin-right: 20px;
}


.link_top_menu {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #b8b8b8;

}
.link_top_menu:hover {
    color: #18cfab;
    border-bottom: 3px solid #18cfab;
}

.top-content {
    color: white;
    text-transform: uppercase;
 }

.turquoise_color {
    color: #18cfab;
}


.top-content p:first-child {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 45px;
}
.top-content p:nth-child(2) {
    font-size: 69px;
    font-weight: bold;
    margin-bottom: 37px;
}

.top-content p:nth-child(3) {
    font-size: 29px;
    font-weight: 300;
    color: rgba(212, 212, 212, 0.6);
    margin-bottom: 142px;
}
.button {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 166px;
    height: 61px;
    color: white;
    border-radius: 5px;
    box-shadow: inset -1px 9px 0 -5px rgba(250,245,250,1);
 }

.button.green {
    border: 1px, white, solid;
    background-color: #18cfab;
    border-top: white, 6px, solid;
    margin-right: 14px;
}
.button.blue {
    background-color: #00cbf6;
    margin-left: 14px;
}

.button span {
    font-size: 12.6px;
    display: block;
    margin-top: 24px;
    }


.color_block {
    justify-content: space-around;
    height: 374px;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
.block_black {
    border-top: 4px solid  #18cfab;
    width: 25vw;
    background-color: #1c2a33;
    color: #18cfab;
}
.color_block span {
    margin: auto;
    margin-top: 105px;
    margin-bottom: 48px;

    display: block;
background-repeat: no-repeat;
    width: 100px;
    height: 97px;
}

.block_green {
    border-top: 4px solid  white;
    width: 25vw;
    background-color: #18cfab;
    color: white;
}
.block_icon1 {
     background-image: url("../img/finger.png");
    }
.block_icon2 {
    background-image: url("../img/brilliant.png");
}
.block_icon3 {
    background-image: url("../img/lamp.png");
}
.block_icon4 {
    background-image: url("../img/network.png");
}

.block_OurServ {
    max-width: 1160px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 101px;
}
.header_of_Blocks{
    position: relative;
    padding-top: 82px;
    padding-bottom: 37px;
    text-align: center;
    font-weight: lighter;
    color: #4e4e4e;
    font-size: 36px;
}

.header_of_Blocks::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 47%;
    width: 76px;
    height: 2px;
    background-color: #18cfab;
    box-shadow: 13px 4px 0 0  #18cfab;
}

.content_OurServ {
    margin-top: 74px;
}

.menu_OurServ {
    width: 100%;
    height: 73px;
    margin: 0 auto;
    }
.menu_OurServ_item {
    padding: 0;
    display: flex;
    height: 100%;
    font-size: 16px;
    color: #b9bbbc;

}
.menu_OurServ_item li {
    width: 16.666%;
    border: 1px solid #eeeeef;
    display: block;
    height: 100%;
    background-color: #f8fcfe;
    position: relative;
}
.link_ourServ_menu {
    padding-top: 28px;
    display: block;
    height: 100%;
    text-decoration: none;
    color: #b8b8b8;
}
.link_ourServ_menu:hover {
    background-color: #18cfab;
    color: white;
    border-color:#bbf1e6;
}

.link_ourServ_menu:hover::after {
    position: absolute;
    bottom: -12px;
    left: 46%;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #08cfab transparent transparent transparent;
}
.art_OurServ {
    padding-top: 25px;
    display: flex;
}

.img_OurServ1 {
    width: 16.666%;
}

.img_OurServ1 img {
    width: 100%;
    height: 100%;
}
.text_Ourserv {
    width: 83.33%;
    padding-left: 20px;
    text-align: justify;
    color: #adadad;
}
.block_every {
    background:linear-gradient( rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url("../img/Sections background/section-2.jpg");
    background-position: center;
    padding: 128px 0;
    text-align: center;
}
.content_every {
    font-size: 16px;
    color: rgba(216, 216, 216, 0.7);
}
.content_every .turquoise_color {
    margin-bottom: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 39px;
}

.content_every .button  {
    text-transform: uppercase;
    margin-top: 80px;
}
